#homeScreen{
    -fx-background-image: url("K5NVof.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1000 550;
    -fx-background-position: center center;
}

#footer, #fpsShow{
    -fx-background-color: #07ffd6f6;
}